$link: $grey-dark;
@import "~bulma/bulma.sass";

.GroupIndex {
  .hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.185), rgba(0, 0, 0, 0.198)),
      url("./assets/group-index-page.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      color: white;
      font-family: "Amatic SC", cursive;
      font-size: 150px;
      text-shadow: 0 0 10px #000000;
      @media (max-width: 400px) {
        font-size: 70px;
      }
    }
  }

  .box {
    margin: 0 2%;
    min-width: 95%;
  
    .group-header-image {
      height: auto;
      width: auto;
      max-height: 400px;
      max-width: 400px;
      @media (max-width: 375px) {
        max-height: 90%;
        max-width: 90%;
      }
    }
    .group-title {
      font-family: "Amatic SC", cursive;
      font-size: 30px;
    }
    figure {
      display: flex;
      align-items: center;
      .group-list-image {
        height: auto;
        width: auto;
        max-height: 80px;
        max-width: 80px;
      }

      p {
        padding: 0px 20px;
      }

      .group-profile-link {
        font-size: 12px;
        color:  rgb(77, 141, 230);
      }
    }
  }
}

.TopBtnBar.container {
  @media (max-width: 400px) {
    button, Link {
      font-size: 10px;
      padding: 5px;
    }
  }
  .buttons.is-right.is-mobile {
    @media (max-width: 400px) {
      a, Link {
        font-size: 10px;
        padding: 5px;
      }
    }
  }
}
