$link: $grey-dark;
@import "~bulma/bulma.sass";
.GroupShow {
  .hero-body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .title-logo {
      font-family: 'Amatic SC', cursive;
      font-size: 100px;
      text-shadow: 0 0 10px #000000;
      color: #ffffff;
    }
  }
  .group-title {
    font-family: "Amatic SC", cursive;
    font-size: 30px;
  }
  .group-show-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .group-show-button {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
  }
}
section.EventNew.section, .EventEdit.section {
  height: 94.25vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.185), rgba(0, 0, 0, 0.198)),
    url("./assets/add_edit_gr_events.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 40px;
    @media (max-width: 400px) {
      font-size: 30px;
    }
  }
  .container {
    width: 60%;
    @media (max-width: 400px) {
      width: 95%;
    }
    button {
      font-family: "Amatic SC", cursive;
      background-color: rgba(49, 43, 43, 0.109);
      font-size: 25px;
      border: none;
      margin: 15px 20px;
      @media (max-width: 400px) {
        font-size: 20px;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .GroupShow {
    .hero-body {
      .title-logo {
      font-size: 50px;
      }
    }
    .group-show-buttons {
      flex-direction: column;
      justify-content: space-between;
    }
  }
}