

.background-group-new, .background-group-edit {
  height: 94.25vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.185), rgba(0, 0, 0, 0.198)),
    url("./assets/add-group.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .mountain {
    width: 15px;
  }

  h1 {
    font-family: "Amatic SC", cursive;
    text-align: center;
    font-size: 40px;
  }

.container {
  height: 80vh;
}

form {
  margin-top: 10%;
}
  .field-margin {
    margin: 20px;
  }

  .two-btns {
    display: flex;

    button {
      font-family: "Amatic SC", cursive;
      background-color: rgba(49, 43, 43, 0.109);
      font-size: 25px;
      border: none;
      margin: 15px 20px;
    }

    .submit {
      flex-grow: 2;
    }
  }
}


.background-group-edit {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.185), rgba(0, 0, 0, 0.198)),
  url("./assets/edit-your-group.jpeg");
}
