.Home {
  .hero-body {
    background-image: url('https://images.unsplash.com/photo-1536334916155-dd9f850d6d73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}



.HikesIndex {
  .hero-body {
    background-image: url('https://images.unsplash.com/photo-1536334916155-dd9f850d6d73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .is-hidden {
    display: none;
  }
.HikeMap {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .map-pin {
    font-size: 20px;
  }
  .is-popup-hidden {
    display: none;
  }
 .map-image {
   height: 50px;
   width: 80px;
 }

 .map-controls {
   position: absolute;
 }

}



