


.Home {  
.hero-body {
    background-image: url('https://images.unsplash.com/photo-1536334916155-dd9f850d6d73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .title-logo {
    font-family: 'Amatic SC', cursive;
    font-size: 150px;
    text-shadow: 0 0 10px #000000;
  }
  .search-section{
    display: flex;
    flex-direction: row;
    .searchbar {
      flex-grow: 3;
      margin-right: 10px;
    }
  }
}



.HikesIndex {
  .hero-body {
    background-image: url('https://images.unsplash.com/photo-1536334916155-dd9f850d6d73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .title-logo {
      font-family: 'Amatic SC', cursive;
      font-size: 150px;
      text-shadow: 0 0 10px #000000;
      color: #ffffff;
    }
  }
  .hike-index-title {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
  }
  .index-search {
    display: flex;
    flex-direction: row;
    .index-search-bar {
      flex-grow: 5;
      margin: auto 10px;
    }
  }
  .is-hidden {
    display: none;
  }
.HikeMap {
  display: flex;
  justify-content: center;
  align-items: center;
}
  .map-pin {
    font-size: 20px;
  }
  .is-popup-hidden {
    display: none;
  }
  .small-popup {
    h1 {
      font-family: 'Amatic SC', cursive;
      font-size: 16px;
    }
    h2 {
      display: none;
    }
    h3 {
      display: none;
    }
    p {
      display: none;
    }
    img {
      display: none;
    } 
  }
  .large-popup {
    width: 300px;
    padding: 15px;
    h1 {
      font-family: 'Amatic SC', cursive;
      font-size: 28px;
    }
    h2 {
      font-family: 'Amatic SC', cursive;
      font-size: 28px;
    }
    h3 {
      font-size: 16px;
      margin-bottom: 10px;
    }
    p {
      font-family: 'Amatic SC', cursive;
      color: #04d18d;
      font-size: 20px;
    }
    .popup-image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      img {
      height: 120px;
        width: 240px;
      } 
    }
  }
  .map-controls {
  position: absolute;
  }
}

.HikeShow {
  .hero-body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .title-logo {
      font-family: 'Amatic SC', cursive;
      font-size: 100px;
      text-shadow: 0 0 10px #000000;
      color: #ffffff;
    }
  }
  .hikr-title {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
  }
  .hike-show-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .hike-show-button {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
  }
  .popup-text {
      font-family: 'Amatic SC', cursive;
      font-size: 26px;
  }

}

@media only screen and (max-width: 600px) {
  .HikeShow {
    .hero-body {
      .title-logo {
      font-size: 50px;
      }
    }
    .hike-show-buttons {
      flex-direction: column;
      justify-content: space-between;
    }
  }
}



