.navbar {
  font-family: "Amatic SC", cursive;
  font-size: 28px;

.navbar-brand {
  .navbar-item{
  color: rgb(70, 68, 68);
  }
}

  .navbar-end {
    .has-dropdown {
      padding: 6px 20px 0px;
    }
  
  
    .navbar-dropdown {
      font-size: 25px;
    }
  }

  .main-nav:hover {
    color:rgb(226, 215, 57);
  }

// .navbar-dropdown {
//   color: yellow;
// }

  .nav-color:hover {
    background-color:rgb(255, 245, 112);
  }
}


