@import '~bulma/bulma.sass';
@import 'nav';
@import 'hikes';
@import 'groups';
@import 'groupforms';
@import 'groupshow';
@import 'login';
@import 'profiles';
@import 'hikeforms';


.HikeShow {
  padding-top: 0;
}